<div class="uploadwrapper">
  <button id="mug">Add your photo</button>
  <input id="upload" type="file" accept="image/*" capture>
</div>
<div class="players"><span id="count">Connecting...</span><span id="score">Score: 0</span></div>
<img id="loading" src="22.gif" hidden>
<ul id="players"></ul>
<div id="warning"></div>
<script src="game-ui.js"></script>
<script src="game-messages.js"></script>
<script src="main.js"></script>