<!DOCTYPE html>
<html id="{{serverId}}">
<head>
  <meta charset="utf8">
  <title>@rem's {{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="promise.js"></script>
  <script src="/primus/primus.js"></script>
  <script src="lz-string.js"></script>
  <script src="jquery.min.js"></script>
</head>
<body id="{{title}}">
{{{body}}}